<% include ../pages/header%>


<div class="ui comments">

    <h3 class="ui dividing header">Commentaires:</h3>
    <div class="comments">
        <a href="#" class="avatar">
            <img src="https://randomuser.me/api/portraits/men/27.jpg" alt="">
        </a>
        <div class="content">
            <div class="metadata">
                <div class="date">
                    <%= message.created_at.fromNow() %>

                </div>
            </div>
            <div class="text"><%= message.content %></div>

        </div>
    </div>

</div>


<% include ../pages/footer%>